#game-area {
    margin: 20px auto;
}

#controls {
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

.player {
    background: red;
}

.barrier {
    background: green;
    z-index: 2;
}

.bullet {
    background: blue;
    z-index: 5;
}
